{% extends 'base.html.twig' %}

{% block title %}Marc Young - Fullstack!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>Full Stack PHP Web Developer</h2>

    <p>Welcome to my Portfolio!</p>

    <section>
        <h2>Jello blog</h2>
        {% for post in posts %}
            <article>
                <h4><a href="{{ path('app_posts_show', {slug: post.slug}) }}">{{ post.title }}</a></h4>
                <p>{{ post.excerpt }}</p>
            </article>

        {% endfor %}
    </section>

    <section>
        <h2>Projects</h2>
            {% for project in projects %}
                <article>
                    <h4>{{ project.name }}</h4>
                    <p>{{ project.excerpt }}</p>
                </article>
            {% endfor %}
    </section>


</div>
{% endblock %}
